h1 {
  color: #fff;
  text-align: center;
  text-decoration: underline #42b983;
}

h5 {
  color: #fff;
  text-align: center;
}

.carousel-3d-slide[data-v-c06c963c] {
  border-radius: 5%;
  border: 0.5rem solid #42b983;
  box-shadow: 0 0 0.25rem 0.25rem #fff;
  padding: 1rem auto;
}


.next[data-v-43e93932] {
  color: #000;
  text-shadow: 2px 0 0 #42b983;
}

.prev[data-v-43e93932] {
  color: #000;
  text-shadow: -2px 0 0 #42b983;
}

.title {
  position: absolute;
  background: rgb(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 10px;
  top: 7%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 200%;
  color: #42b983;
  text-decoration: underline #42b983;
  text-shadow: 1px 1px 0 #000,
               1px 6px 1px rgba(0,0,0,.1),
               1px 0 5px rgba(0,0,0,.1),
               1px 1px 3px rgba(0,0,0,.3),
               1px 3px 5px rgba(0,0,0,.2),
               1px 5px 10px rgba(0,0,0,.25),
               1px 10px 10px rgba(0,0,0,.2),
               1px 20px 20px rgba(0,0,0,.15);
}

p {
  position: absolute;
  background: rgb(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 10px;
  bottom: -15%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px 0 #fff,
               1px 6px 1px rgba(0,0,0,.1),
               1px 0 5px rgba(0,0,0,.1),
               1px 1px 3px rgba(0,0,0,.3),
               1px 3px 5px rgba(0,0,0,.2),
               1px 5px 10px rgba(0,0,0,.25),
               1px 10px 10px rgba(0,0,0,.2),
               1px 20px 20px rgba(0,0,0,.15);
}

body {
  background: #212121;
  padding: 0 2rem 3rem 2rem;
  margin: 0 2rem 3rem 2rem;
}

img.profile {
  width: 85%;
  max-width: 850px;
  display: block;
  margin: 0 auto;
}